body {
    margin: 0;
    background: #1C1C1C;
}

.container {
    background: #1F2937;
    margin: 60px 60px;
    padding: 115px 52px;
}

h1 {
    color: #ffffff;
    font-size: 40px;
    margin: 0;
}

h2{
    color: #4ADF86;
    font-size: 40px;
    margin: 0;
}

p {
    color: #D5D4D8;
    font-size: 20px;
    margin: 10px 0 50px;
}

button {
    background: #10B981;
    color: #ffffff;
    width: 191px;
    height: 42px;
    border-radius: 6px;
    border: 1px solid black;
    margin: 0;
}

#password1, #password2 {
    background: #273549;
    width: 211px;
    height: 29px;
    color: #55F991;
    margin: 35px 24px 0 0;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    padding: 10px 0 0 0;    
}

.passwords {
    border-top: 1px solid #2F3E53;
    margin-top: 35px;
    display: flex;
}